@import "base/reset";
@import "base/vars";
* {
  box-sizing: border-box;
  // border: 1px solid black;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(196, 196, 196, 0.12) 50%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 28px;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1285px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

.swiper {
  margin-top: 50px;
  margin-left: 75px;
  filter: drop-shadow(8px 8px 31px rgba(158, 158, 158, 0.25));
  height: 90%;
}

.swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #272727;
  width: 20px;
  height: 20px;
  margin-right: 20px !important;
  opacity: 1;
  outline: none;
}
.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}
.swiper-pagination-bullet-active {
  background: #272727;
}

.show {
  opacity: 1;
}

@import "block/header";
@import "block/promo";
@import "block/about";
@import "block/portfolio";
@import "block/modal";
@import "block/media";
