.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: #393939;
  }
  &__list {
    display: flex;
    transition:all 0.5s ease;
  }
  &__list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: #ddd;
    padding: 35px;
    border-radius: 15px;
    z-index: 9999;
  }
  &__item {
    margin-right: 93px;
    
  }
  &__item.active {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__menu-link,
  .dropbtn {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: $g-color;
    transition: color 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
  }

  .dropbtn.active {
    display: block;
    padding: 0;
  }
  &__menu-link--active {
    color: #1e1e1e;
  }
  &__menu-link:hover,
  .dropbtn:hover {
    color: #1e1e1e;
  }

  .dropbtn::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -16px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #949494;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
  }
  .dropbtn-active::after {
    right: -12px;
    border-left: 0 solid transparent;
    border-radius: 50%;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    color: #1e1e1e;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    min-width: 160px;
    z-index: 999;
  }

  /* Links inside the dropdown */
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(57, 57, 57, 0.15);
  }
  .dropdown-content span:last-child {
    border-bottom: none;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content span:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
}

.humburger__menu {
  display: none;
} 

.social {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &__list {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 0;
  }
  &__item{
    
    font-size: 28px;
    margin-bottom: 57px;
    
    
    
  }
  &__item:last-child{
    margin-bottom: 0;
  }
  
  &__link {
    color: #000;
    font-weight: 100;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;

  }
  &__link:hover {
    background-color: #000;
    color: #fff
  }
}
