@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
  .social {
    left: 32px;
  }
  .about {
    &__text {
      margin-left: 30px;
    }
    &__title {
      line-height: 74px;
    }
  }
  .swiper {
    width: 80%;
    margin-left: auto;
  }
}
