@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
  .header {
    .dropdown-content {
      right: -24px;
    }
  }
  .social {
    left: 32px;
  }
  .about {
    &__text {
      margin-left: 30px;
    }
    &__title {
      line-height: 74px;
    }
    &__img {
      margin-right: 0;
    }
  }
  .swiper {
    height: 80%;
    width: 80%;
    // margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .header {
    .dropdown-content {
      right: -17px;
    }
  }

  .about {
    &__img {
      display: none;
    }
  }

  .swiper {
    height: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }

  .header {
    &__item {
      display: none;
    }
    &__list {
      top: -500px;
    }
    .dropbtn {
      display: none;
      
    }
  }

  .humburger__menu {
    display: block;
    width: 50px;
    
  }

  .humburger__img, .humburger__close {
    position: absolute;
    right: 20px;
    top: -10px;
    width: 50px;
  }

  .humburger__close {
    top: -16px;
    display: none;
  }




  .swiper {
    height: 80%;
  }
  .modal {
    width: 90%;
    &__input {
      width: 100%;
    }
    &__textarea {
      width: 100%;
    }
    &__btn {
      display: block;
      margin: 37px auto;
    }
    &__close {
      right: 15px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: auto;
  }
  .header {
    &__logo {
      margin-left: 10px;
    }
    &__item {
      margin-left: 10px;
      margin-right: 15px;
    }
    &__menu-link {
      font-size: 12px;
    }
    .dropbtn {
      font-size: 12px;

    }

  }
  .about {
    &__wrapper {
      margin-left: 0;
    }
    &__title {
      font-size: 35px;
      line-height: 35px;
    }
    &__descr {
      width: auto;
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .social {
    top: 85%;
    left: 50%;
    transform: translate(-75%, -50%);
    z-index: 999;
    &__list {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__item {
      margin-right: 25px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .modal {
    padding: 20px;
    &__title {
      font-size: 28px;
      line-height: 35px;
    }
    &__btn {
      width: 100%;
    }
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
    height: 40%;
  }
}
